
caption{
    display: none;
}
    fieldset, button{
        border: 0 none;
    }
    #faqWrap .search-wrap h4, #faqWrap .search-wrap .keyword, #faqWrap .search-wrap .select-category, #faqWrap .search-wrap .btn-submit, #faqWrap .search-wrap .best-keyword {
    position: absolute;
}
select{
    line-height: 18px;
}
    .contentWrap{
        margin-top: 0;
        min-height: 750px;
        margin: 75px auto;
    }
    .bbsmenu {
        width: 100%;
        border-bottom: #5d5d5d solid 1px;
        height: 59px;
    }
    .bbsmenu .menubox{
        width: 1200px;
        margin: auto;
        position: relative;
    }
    .bbsmenu .menubox .treemenu {
        float: left;
        font-size: 14px;
        color: #ababab;
        line-height: 60px;
    }
    .bbsmenu .menubox .treemenu a {
        padding: 0 11px 4px 0;
        color: #ababab;
        font-size: 14px;
        line-height: inline-block;
    }
    .bbsmenu .menubox .treemenu span{
        color: #ababab;
        display: inline-block;
        padding: 0 11px 0 18px;
    }
    .bbsmenu .menubox .treemenu span.on{
        color:#555;
    }
    #content{
        width: 1200px;
        margin:  65px auto 0 auto;
        position: relative;
    }
    h2.bbstit{
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 40px;
        font-size: 32px;
        text-align: center;
        color: #111111;
        line-height: 35px;
    }
    h2.bbstit span{
        font-size: 20px;
        color: #d7d5d5;
        font-weight: 100;
    }
    .bbs_menu_tab{
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    .bbs_menu_tab li{
        display: inline-block;
        zoom: 1;
        width: 30%;
    }
    .bbs_menu_tab li a{
        font-size: 14px;
        color: #5d5d5d;
        text-align: center;
        line-height: 40px;
    }
    .bbs_menu_tab li.on{
        border-top: #252527 solid 1px!important;
        border-bottom: #252527 solid 1px!important;
        background-color: #252527;
    }
    .bbs_menu_tab li.on {
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        }
    .bbs-hd{
        background-color: #f2f2f2;
        border: 1px solid #e3e3e3;
        padding: 20px 0 30px;
    }
    #faqWrap .faq-search{
        text-align: center;
        width: 555px;
        margin: auto;
    }
    #faqWrap .faq-search >p{
        font-size: 15px;
        color: #3b3b3b;
        padding: 10px;
        font-weight: bold;
    }
    #faqWrap .search-wrap{
        position: relative;
        height: 50px;
    }
    #faqWrap .search-wrap .select-category{
        top: 10px;
        width: 120px;
        left: 0px;
        height: 40px;
        padding: 2px 5px 5px 5px;
        border: 1px solid #e3e3e3;
        font-size: 14px;
    }
    #faqWrap .search-wrap .keyword{
        left: 124px;
        top: 10px;
        width: 420px;
        padding-left: 3px;
        border: 1px solid #e3e3e3;
        height: 38px;
        background-color: #fff;
    }
    #faqWrap .search-wrap .keyword input{
        float: left;
        border: 0;
        height: 33px;
        font-size: 14px;
        line-height: 33px;
        width: 350px;
    }
    #faq-category{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #faqWrap .faq-menu{
        margin-top: 45px;
        overflow: hidden;
        font-size: 0;
        border-top:  1px #e3e3e3 solid;
        border-bottom:  1px #e3e3e3 solid;
    }
    #faqWrap .faq-menu li.now{
        background-color: #252527;
        background-image: none;
    }
    #faqWrap .faq-menu li.now a {
        color: #fff;
    }
    #faqWrap .faq-menu li{
        display: inline-block;
        width: 50%;
        text-align: center;
    }
    #faqWrap .faq-menu li a{
        display: block;
        color: #565656;
        font-weight: normal;
        font-size: 13px;
        line-height: 30px;
        padding: 5px 0 5px;
    }
    #faqWrap #faqTable{
        border-top: 2px #222 solid;
        margin-top: 30px;
        margin-bottom: 300px;
    }
    .main_menu_box{
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
    }
    #faqWrap #faqTable .tableContent th{
        padding-top: 10px;
        padding-bottom: 10px;
        color: #565656;
        font-size: 12px;
        border-bottom: solid 1px #e3e3e3; 
    }
    #faqWrap #faqTable .tableContent td{
        padding-top: 10px;
        padding-bottom: 10px;
       border-bottom: solid 1px #e3e3e3; 
        color: #565656;
        font-size: 13px;
    }
    #faqWrap #faqTable .tableContent td.hm_col1{
        width: 40px;
        text-align: center;
    }
    #faqWrap #faqTable .tableContent td.hm_col2{
        width: 800px;
    }
    #faqWrap #faqTable .tableContent td.hm_col3{
        width: 80px;
    }
    #faqWrap #faqTable .tableContent td.hm_col4{
        text-align: center;
        padding-top:40px;
        padding-bottom:40px;
        color: #565656;
        font-size: 13px;
        
    }

    .main_menu_box {
        color: #5d5d5d;
        font-size: 14px;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        height: 42px;
    }
    .main_menu_box a{
        color: #5d5d5d;
    }
    .text_bold {
        font-weight: bold;
    }

    .th3 {
        background: #252527;
        width: 33.3%;
        height: 42px;
        color: #fff;
    }

    .th1 {
        color: #5d5d5d;
        width: 33.3%;
        height: 42px;
    }