table thead th{
    color: #565656;
    color:#FFFFFF; 
    border:0px solid #f2f2f2; 
    border-collapse:collapse; 
    text-align:center; 
    table-layout:auto; 
    vertical-align:middle;
    margin: 10px; 
    width: 1200px;
    height: 42px;
    font-family: NotoSansCJKkr-Light;
    font-size: 15px; } 

table{
    border: 1px solid #9e9e9e;
    width:100%; 
    border-collapse:collapse; 
    table-layout:auto; 
    vertical-align:top; 
    margin-bottom:15px; 
    border:1px solid #f2f2f2; 
    margin:10px; width: 1200px}
    
.th3{background: #252527}
.th1{color: #5d5d5d}

h1{
    height: 30px;
    font-family: NotoSansCJKkr-Medium;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29px;
    letter-spacing: 0px;
    color: #111111;}
  
h3{
    width: 160px;
    height: 15px;
    font-family: NotoSansCJKkr-Medium;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29px;
    letter-spacing: 0px;
    color: #d7d5d5;}
