/* mmpp */
/* mmpp */
/* mmpp */
/* mmpp */
/* mmpp */
/* mmpp */
/* mmpp */
/* mmpp */
/* mmpp */
/* mmpp */


.jn5_content.jn5_size1200 {
    width: 1200px;
    max-width: none;
    margin: 0 auto;
    }
    .jn5_content .jn5_cont_h2tit01.jn5_eng {
    padding-top:50px;
    /* font-family: 'tdDot','naMj',serif; */
    font-size: 32px;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: 0;
    }
    .jn5_content.jn5_size1200 h2 {
    height: 60px;
    text-align: center;
    }
    .jn5_bgBox {
    width: 100%;
    min-height: 90px;
    margin-bottom: 60px;
    background: #f7f7f7;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    }
    .jn5_myInfo {
    position: relative;
    }
    .jn5_myInfo .jn5_gradeArea {
    position: absolute;
    left: 30px;
    top: 20px;
    overflow: hidden;
    }
    .jn5_myInfo .jn5_gradeArea .jn5_silver {
    background-position: -150px -526px;
    }
    .jn5_myInfo strong, .jn5_myInfo .jn5_diamond, .jn5_myInfo .jn5_platinum, .jn5_myInfo .jn5_gold, .jn5_myInfo .jn5_silver {
    width: 50px;
    height: 50px;
    text-indent: -9999em;
    background: url(../../../images/common/iconBg.png) repeat;
    display: inline-block;
    float: left;
    }
    strong, th, h1, h2, h3, h4, h5 {
    font-weight: normal;
    }
    .jn5_myInfo .jn5_gradeArea>div p {
    margin: 4px 0;
    color: #212121;
    letter-spacing: 0;
    text-transform: uppercase;
    /* font-family: 'Georgia','naMj',serif; */
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    }
    .jn5_myInfo .jn5_gradeArea>div a {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 0 10px;
    background: #666;
    font-size: 11px;
    color: #fff;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    }
    .jn5_myInfo .jn5_itemArea {
    position: absolute;
    right: 30px;
    top: 20px;
    overflow: hidden;
    }
    .jn5_myInfo .jn5_itemArea>div.jn5_pointArea {
    padding-left: 62px;
    min-width: 88px;
    position: relative;
    }
    .jn5_myInfo .jn5_itemArea>div {
    float: left;
    }
    .jn5_myInfo .jn5_itemArea>div.jn5_couponArea {
    width: 115px;
    margin-left: 35px;
    }
    
    .jn5_layer-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 9001;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-right: -18px;
    }
    .jn5_layer-container>div {
    display: none;
    position: relative;
    margin: 50px auto;
    }
    .jn5_division {
    width: 100%;
    }
    .jn5_division .jn5_lnb {
    float: left;
    width: 170px;
    }
    .jn5_division .jn5_lnb>dl {
    padding: 0 10px 40px 20px;
    border: 1px solid #f0f0f0;
    }
    .jn5_division .jn5_lnb>dl dt {
    margin-top: 36px;
    color: #212121;
    font-size: 13px;
    font-weight: bold;
    }
    .jn5_division .jn5_lnb>dl dt {
    margin-top: 36px;
    color: #212121;
    font-size: 13px;
    font-weight: bold;
    }
    .jn5_division .jn5_cont {
    float: right;
    width: 1000px;
    }
    .jn5_content h3, h3.jn5_cont_tit01, .jn5_titNm {
    color: #212121;
    letter-spacing: -1px;
    /* font-family: 'naMj',serif; */
    font-size: 18px;
    font-weight: bold;
    }
    .jn5_division h3 {
    position: relative;
    vertical-align: middle;
    }
    .jn5_content h3, h3.jn5_cont_tit01, .jn5_titNm {
    color: #212121;
    letter-spacing: -1px;
    /* font-family: 'naMj',serif; */
    font-size: 18px;
    font-weight: bold;
    }
    .jn5_maT60 {
    margin-top: 60px!important;
    }
    .jn5_recent-goods {
    margin-top: 20px;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    }
    .jn5_halfCont {
    margin-top: 57px;
    overflow: hidden;
    }
    .jn5_halfCont .jn5_recentCont {
    width: 388px;
    float: left;
    }
    .jn5_wish-list {
    float: right;
    width: 592px;
    }
    .jn5_content h3, h3.jn5_cont_tit01, .jn5_titNm {
    color: #212121;
    letter-spacing: -1px;
    /* font-family: 'naMj',serif; */
    font-size: 18px;
    font-weight: bold;
    }
    .jn5_wish-list .jn5_wish-list__body {
    margin-top: 16px;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
    }
    .jn5_wish-list .jn5_goods-item:first-child {
    margin-left: 0;
    }
    .jn5_wish-list .jn5_goods-item {
    width: 184px;
    /* margin-left: 20px; */
    }
    .jn5_goods__cont {
    overflow: hidden;
    display: block;
    position: relative;
    }
    .jn5_goods__img {
    display: block;
    overflow: hidden;
    position: relative;
    }
    .jn5_goods__tag {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    font-size: 0;
    }
    .jn5_goods__over-info {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 76px;
    padding-top: 16px;
    font-size: 0;
    background: rgba(255,255,255,.8);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    element.jn5_style {
    transform: translateY(0%);
    }
    .jn5_goods__info {
    display: block;
    padding: 13px 0 0;
    }
    .jn5_wish-list .jn5_goods-item:first-child {
    margin-left: 0;
    }
    .jn5_wish-list .jn5_goods-item {
    width: 184px;
    /* margin-left: 20px; */
    }
    .jn5_goods-item {
    /* position: relative; */
    /* float: left; */
    text-align: center;
    }
    .jn5_halfCont {
    margin-top: 57px;
    overflow: hidden;
    }
    .jn5_division .jn5_lnb>dl {
    padding: 0 10px 40px 20px;
    border: 1px solid #f0f0f0;
    }
    .jn5_division .jn5_lnb>dl {
    padding: 0 10px 40px 20px;
    border: 1px solid #f0f0f0;
    }
    .jn5_division .jn5_lnb>dl dd ul li {
    /* margin-top: 5px; */
    line-height: 18px;
    }
    li, menu {
    list-style: none;
    }
    .jn5_division .jn5_lnb>dl dd ul li a {
    color: #212121;
    font-size: 11px;
    }
    
    a {
    padding-top:10px;
    outline: none;
    /* color: #212121; */
    text-decoration: none;
    }
    .jn5_division .jn5_lnb>dl dd ul {
    margin-top: 10px;
    }
    .jn5_division .jn5_lnb>dl dd ul li:first-child {
    margin-top: 0;
    }
    .jn5_division .jn5_lnb>dl dd ul {
    margin-top: 10px;
    padding-left:0px;
    padding-right: 25px;
    }
    .jn5_content h3, h3.jn5_cont_tit01, .jn5_titNm {
    color: #212121;
    letter-spacing: -1px;
    /* font-family: 'naMj',serif; */
    font-size: 18px;
    font-weight: bold;
    }
    .jn5_division h3 {
    position: relative;
    vertical-align: middle;
    }
    .jn5_division h3 .jn5_btnMore.jn5_bgNo {
    padding-right: 0;
    background: none;
    }
    .jn5_division h3 .jn5_btnMore {
    font-size: 11px;
    /* font-family: 나눔바른고딕, NanumBarunGothic, 맑은고딕, "Malgun Gothic", 돋움, Dotum, "Apple SD Gothic Neo", sans-serif; */
    font-weight: normal;
    letter-spacing: 0px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    text-transform: uppercase;
    padding: 5px 8px 5px 0px;
    }
    .jn5_nodata {
    height: 130px;
    color: #999;
    text-align: center;
    line-height: 130px;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    }
    
    .jn5_myInfo .jn5_gradeArea>div {
    margin-left: 70px;
    }
    .jn5_tbl .jn5_head thead th, .jn5_tbl .jn5_head tbody .jn5_theadType th, .jn5_tbl .jn5_head tbody .jn5_theadType td {
    padding: 12px 0;
    color: #212121;
    background: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    }
    th, td {
    text-align: center;
    vertical-align: middle;
    }
    th, td {
    /* text-align: center; */
    vertical-align: middle;
    }
    .jn5_tbl .jn5_nodata td {
    height: 130px;
    padding: 0!important;
    color: #999;
    line-height: 130px;
    }
    .jn5_tbl caption {
    display: none;
    }
    caption, legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0;
    line-height: 0;
    }
    caption {
    text-align: left;
    }
