/* mypage */


.jn4_content.jn4_size1200 {
    width: 1200px;
    max-width: none;
    margin: 0 auto;
}

.jn4_content .jn4_cont_h2tit01.jn4_eng {
    font-family: 'tdDot', 'naMj', serif;
    font-size: 32px;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: 0;
}

.jn4_content.jn4_size1200 h2 {
    height: 60px;
    text-align: center;
}

.jn4_bgBox {
    width: 100%;
    min-height: 90px;
    margin-bottom: 60px;
    background: #f7f7f7;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.jn4_myInfo {
    position: relative;
}

.jn4_myInfo .jn4_gradeArea {
    position: absolute;
    left: 30px;
    top: 20px;
    overflow: hidden;
}

.jn4_myInfo .jn4_gradeArea .jn4_silver {
    background-position: -150px -526px;
}

.jn4_myInfo strong,
.jn4_myInfo .jn4_diamond,
.jn4_myInfo .jn4_platinum,
.jn4_myInfo .jn4_gold,
.jn4_myInfo .jn4_silver {
    width: 50px;
    height: 50px;
    text-indent: -9999em;
    background: url(../../../images/common/iconBg.png) repeat;
    display: inline-block;
    float: left;
}

.jn4_myInfo .jn4_gradeArea>div p {
    margin: 4px 0;
    color: #212121;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: 'Georgia', 'naMj', serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}

.jn4_myInfo .jn4_gradeArea>div a {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 0 10px;
    background: #666;
    font-size: 11px;
    color: #fff;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
}

.jn4_myInfo .jn4_itemArea {
    position: absolute;
    right: 30px;
    top: 20px;
    overflow: hidden;
}

.jn4_myInfo .jn4_itemArea>div.jn4_pointArea {
    padding-left: 62px;
    min-width: 88px;
    position: relative;
}

.jn4_myInfo .jn4_itemArea>div {
    float: left;
}

.jn4_myInfo .jn4_itemArea>div.jn4_couponArea {
    width: 115px;
    margin-left: 35px;
}

.jn4_layer-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 9001;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-right: -18px;
}

.jn4_layer-container>div {
    display: none;
    position: relative;
    margin: 50px auto;
}

.jn4_division {
    width: 100%;
}

.jn4_division .jn4_lnb {
    float: left;
    width: 170px;
}

.jn4_division .jn4_lnb>dl {
    padding: 0 10px 40px 20px;
    border: 1px solid #f0f0f0;
}

.jn4_division .jn4_lnb>dl dt {
    margin-top: 36px;
    color: #212121;
    font-size: 13px;
    font-weight: bold;
}

.jn4_division .jn4_lnb>dl dt {
    margin-top: 36px;
    color: #212121;
    font-size: 13px;
    font-weight: bold;
}

.jn4_division .jn4_cont {
    float: right;
    width: 1000px;
}

.jn4_content h3,
h3.jn4_cont_tit01,
.jn4_titNm {
    color: #212121;
    letter-spacing: -1px;
    font-family: 'naMj', serif;
    font-size: 18px;
    font-weight: bold;
}

.jn4_division h3 {
    position: relative;
    vertical-align: middle;
}

.jn4_content h3,
h3.jn4_cont_tit01,
.jn4_titNm {
    color: #212121;
    letter-spacing: -1px;
    font-family: 'naMj', serif;
    font-size: 18px;
    font-weight: bold;
}

.jn4_maT60 {
    margin-top: 60px !important;
}

.jn4_recent-goods {
    margin-top: 20px;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
}

.jn4_halfCont {
    margin-top: 57px;
    overflow: hidden;
}

.jn4_halfCont .jn4_recentCont {
    width: 388px;
    float: left;
}

.jn4_wish-list {
    float: right;
    width: 592px;
}

.jn4_content h3,
h3.jn4_cont_tit01,
.jn4_titNm {
    color: #212121;
    letter-spacing: -1px;
    font-family: 'naMj', serif;
    font-size: 18px;
    font-weight: bold;
}

.jn4_wish-list .jn4_wish-list__body {
    margin-top: 16px;
    border-top: 1px solid #f0f0f0;
    padding-top: 20px;
}

.jn4_wish-list .jn4_goods-item:first-child {
    margin-left: 0;
}

.jn4_wish-list .jn4_goods-item {
    width: 184px;
    /* margin-left: 20px; */
}

.jn4_goods__cont {
    overflow: hidden;
    display: block;
    position: relative;
}

.jn4_goods__img {
    display: block;
    overflow: hidden;
    position: relative;
}

.jn4_goods__tag {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    font-size: 0;
}

.jn4_goods__over-info {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 76px;
    padding-top: 16px;
    font-size: 0;
    background: rgba(255, 255, 255, .8);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

element.jn4_style {
    transform: translateY(0%);
}

.jn4_goods__info {
    display: block;
    padding: 13px 0 0;
}

.jn4_wish-list .jn4_goods-item:first-child {
    margin-left: 0;
}

.jn4_wish-list .jn4_goods-item {
    width: 184px;
    /* margin-left: 20px; */
}

.jn4_goods-item {
    /* position: relative; */
    /* float: left; */
    text-align: center;
}

.jn4_halfCont {
    margin-top: 57px;
    overflow: hidden;
}

.jn4_division .jn4_lnb>dl {
    padding: 0 10px 40px 20px;
    border: 1px solid #f0f0f0;
}

.jn4_division .jn4_lnb>dl {
    padding: 0 10px 40px 20px;
    border: 1px solid #f0f0f0;
}

.jn4_division .jn4_lnb>dl dd ul li {
    /* margin-top: 5px; */
    line-height: 18px;
}

li,
menu {
    list-style: none;
}

.jn4_division .jn4_lnb>dl dd ul li a {
    color: #212121;
    font-size: 11px;
}

.jn4_division .jn4_lnb>dl dd ul {
    margin-top: 10px;
}

.jn4_division .jn4_lnb>dl dd ul li:first-child {
    margin-top: 0;
}

.jn4_division .jn4_lnb>dl dd ul {
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 25px;
}

.jn4_content h3,
h3.jn4_cont_tit01,
.jn4_titNm {
    color: .jn5_212121;
    letter-spacing: -1px;
    font-family: 'naMj', serif;
    font-size: 18px;
    font-weight: bold;
}

.jn4_division h3 {
    position: relative;
    vertical-align: middle;
}

.jn4_division h3 .jn4_btnMore.jn4_bgNo {
    padding-right: 0;
    background: none;
}

.jn4_division h3 .jn4_btnMore {
    font-size: 11px;
    font-family: 나눔바른고딕, NanumBarunGothic, 맑은고딕, "Malgun Gothic", 돋움, Dotum, "Apple SD Gothic Neo", sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    text-transform: uppercase;
    padding: 5px 8px 5px 0px;
}

.jn4_nodata {
    height: 130px;
    color: #999;
    text-align: center;
    line-height: 130px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html,
header,
footer,
aside,
nav,
section,
article,
details,
figure,
figcaption,
menu,
command,
div,
dl,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
iframe,
table,
caption,
thead,
tfoot,
tbody,
tr,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
summary,
input,
textarea,
button,
select,
datalist,
img,
embed,
object,
canvas,
audio,
video,
meter,
progress,
keygen,
a,
label,
output,
dialog,
address,
blockquote,
p,
pre,
span,
b,
strong,
i,
em,
dfn,
var,
u,
ins,
s,
del,
q,
mark,
small,
sub,
sup,
abbr,
bdi,
bdo,
cite,
time,
ruby,
rp,
rt,
code,
kbd,
samp,
acronym,
big,
frame,
frameset,
noframes,
tt,
map,
option,
hr {
    border: 0;
    padding: 0;
    margin: 0;
    color: inherit;
    /* font-family: inherit; */
    size: inherit;
    font-style: normal;
    line-height: inherit;
    vertical-align: top;
}

.jn4_myInfo .jn4_gradeArea>div {
    margin-left: 70px;
}

.jn4_tbl .jn4_head thead th,
.jn4_tbl .jn4_head tbody .jn4_theadType th,
.jn4_tbl .jn4_head tbody .jn4_theadType td {
    padding: 12px 0;
    color: #212121;
    background: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
}

th,
td {
    text-align: center;
    vertical-align: middle;
}

th,
td {
    /* text-align: center; */
    vertical-align: middle;
}

.jn4_tbl .jn4_nodata td {
    height: 130px;
    padding: 0 !important;
    color: #999;
    line-height: 130px;
}

.jn4_tbl caption {
    display: none;
}

caption,
legend {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0;
    line-height: 0;
}

caption {
    text-align: left;
}



